// logo ===================================
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

// search ========================================

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.5rem;
    padding: .7rem 2rem;
    transition: all .2s;
    width: 90%;

    &:focus {
      background-color: var(--color-grey-light-3);
      outline: none;
      width: 100%;
    }
  }

  &__button {
    background-color: var(--color-grey-light-2);
    border: none;

    &:focus {
      outline: none;
      
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    
  }
}

// user nav =====================================

.user-nav {
  

  &__icon-box {

  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {

  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {

  }
}